// Colours

$header-color: #F2F3F4;
$header-shadow:rgba(0, 0, 0, 0.25);
$footer-color: #222222;
$white-color-font: #FFFFFF;
$grey-color:#808080;
$link-color: #1CA0F6;
$border-color: rgba(34, 34, 34, 0.5);

// Images sizes

$width-img-style-1: 1.875rem;
$width-img-style-2: 3.125rem;
$width-img-style-3: 3.75rem;
